<?xml version="1.0" encoding="utf-8" ?>
<DTEN>
	<!-- This is a comment --> 
	<CHECKDEVICE>
		<CAM>
			<CAM_NODE_1>
				<STR_CAM_HARDID_6D_REGEX>USB\\VID_4255&PID_0001&REV_.{4}</STR_CAM_HARDID_6D_REGEX>
				<STR_CAM_HARDID_SW_REGEX>USB\\VID_1D6B&PID_0100&REV_.{4}</STR_CAM_HARDID_SW_REGEX>
			</CAM_NODE_1>
			<CAM_NODE_2>
				<STR_CAM_HARDID_6D_REGEX>USB\\VID_4255&PID_0001&REV_.{4}.*</STR_CAM_HARDID_6D_REGEX>
				<STR_CAM_HARDID_SW_REGEX>USB\\VID_1D6B&PID_0100&REV_.{4}&MI_01</STR_CAM_HARDID_SW_REGEX>
			</CAM_NODE_2>
		</CAM>
		<MIC>
			<MIC_NODE_1>
				<STR_MIC_HARDID_75_REGEX>USB\\VID_4255&PID_0007&REV_.{4}</STR_MIC_HARDID_75_REGEX>
				<STR_MIC_HARDID_55_REGEX>USB\\VID_4255&PID_1001&REV_.{4}</STR_MIC_HARDID_55_REGEX>
				<STR_MIC_HARDID_55_REGEX_CPG>USB\\VID_4255&PID_2001&REV_.{4}</STR_MIC_HARDID_55_REGEX_CPG>
			</MIC_NODE_1>
			<MIC_NODE_2>
				<STR_MIC_HARDID_REGEX_2>USB\\Vid_1d6b&Pid_0105&Rev_.{4}</STR_MIC_HARDID_REGEX_2>
				<STR_MIC_HARDID_REGEX_4>USB\\VID_1D6B&PID_0105&REV_.{4}</STR_MIC_HARDID_REGEX_4>
			</MIC_NODE_2>
			<MIC_NODE_3>
				<STR_MIC_HARDWARE_AUDIO_INPUT>MMDEVAPI\\AudioEndpoints</STR_MIC_HARDWARE_AUDIO_INPUT>
			</MIC_NODE_3>
		</MIC>
		<TOUCH>
		</TOUCH>
	</CHECKDEVICE>
	<SETUPDRIVERS>
		<CAM>
			<CHECKALL>
				<!--可累加,通过扫描设备管理器来匹配设备的vidpid--> 
				<STR_CAM_4K_HARDID_SW_REGEX>USB\\VID_1D6B&PID_0100&REV_.*</STR_CAM_4K_HARDID_SW_REGEX>
				<STR_CAM_4K_HARDID_SW_REGEX1>USB\\Vid_1d6b&Pid_0100&Rev_.*</STR_CAM_4K_HARDID_SW_REGEX1>
			</CHECKALL>
			<ALLVIDPID>
				<!--可累加,通过匹配vidpid，查找对应的inf文件--> 
				<vidpid_1>VID_1D6B&PID_0100</vidpid_1>
			</ALLVIDPID>
			<VID_1D6B&PID_0100 hardid="USB\VID_1D6B&PID_0100" inffile="C:\DTEN\HardWare\Driver\dtensmart\SmartyGallery.inf"/>
			<SETUPALL>
				<CAMERA_SW_DRIVER_INF_FILE hardid='"USB\VID_1D6B&PID_0100"' inffile="C:\DTEN\HardWare\Driver\dtensmart\SmartyGallery.inf" />
			</SETUPALL>
		</CAM>
		<MIC>
			<CHECKALL>
				<STR_MIC_HARDID_75_REGEX>USB\\VID_4255&PID_0007&REV_.{4}</STR_MIC_HARDID_75_REGEX>
				<STR_MIC_HARDID_55_REGEX>USB\\VID_4255&PID_1001&REV_.{4}</STR_MIC_HARDID_55_REGEX>
				<STR_MIC_HARDID_55_REGEX_CPG>USB\\VID_4255&PID_2001&REV_.{4}</STR_MIC_HARDID_55_REGEX_CPG>
			</CHECKALL>
			<MIC_55>
				<ALLVIDPID>
					<!--可累加,通过匹配vidpid，查找对应的inf文件--> 
					<vidpid_1>VID_4255&PID_1001</vidpid_1>
					<vidpid_2>VID_4255&PID_2001</vidpid_2>
				</ALLVIDPID>
				<VID_4255&PID_1001 hardid="USB\VID_4255&PID_1001" inffile="C:\DTEN\HardWare\Driver\dtenmic\55\dtenmic.inf"/>
				<VID_4255&PID_2001 hardid="USB\VID_4255&PID_2001" inffile="C:\DTEN\HardWare\Driver\dtenmic\55\cpg\dtenmic.inf"/>
			</MIC_55>
			<MIC_75>
				<ALLVIDPID>
					<vidpid_1>VID_4255&PID_0007</vidpid_1>
				</ALLVIDPID>
				<VID_4255&PID_0007 hardid="USB\VID_4255&PID_0007" inffile="C:\DTEN\HardWare\Driver\dtenmic\55\dtenmic.inf" />
			</MIC_75>
			<!--没有找到对应的vidpid设备，则直接安装所有inf文件--> 
			<SETUPALL>
				<MIC_DRIVER_INF_FILE_55 hardid='"USB\VID_4255&PID_1001"' inffile="C:\DTEN\HardWare\Driver\dtenmic\55\dtenmic.inf" />
				<MIC_DRIVER_INF_FILE_55_CPG hardid='"USB\VID_4255&PID_2001"' inffile="C:\DTEN\HardWare\Driver\dtenmic\55\cpg\dtenmic.inf" />
			</SETUPALL>
		</MIC>
		
	</SETUPDRIVERS>
	<HOTPLUGEVENT>
		<CAM_REGEX>
			<STR_CAM_HARDID_6D_REGEX_EV>USB#VID_4255&PID_0001#.*</STR_CAM_HARDID_6D_REGEX_EV>
			<STR_CAM_HARDID_SW_REGEX_EV>HID#VID_1D6B&PID_0100.*</STR_CAM_HARDID_SW_REGEX_EV>
		</CAM_REGEX>
		<MIC_REGEX>
			<STR_MIC_HARDID_75_REGEX_EV>USB#VID_4255&PID_0007#.*</STR_MIC_HARDID_75_REGEX_EV>
			<STR_MIC_HARDID_55_REGEX_EV>USB#VID_4255&PID_1001#.*</STR_MIC_HARDID_55_REGEX_EV>
			<STR_MIC_HARDID_55_REGEX_CPG_EV>USB#VID_4255&PID_2001#.*</STR_MIC_HARDID_55_REGEX_CPG_EV>
		</MIC_REGEX>
		<TOUCH_REGEX>
			<STR_TP_HARDID_BG_REGEX_EV>HID#VID_0457&PID_1548&Col03.*</STR_TP_HARDID_BG_REGEX_EV>
			<STR_TP_HARDID_NF_75_REGEX_EV>HID#VID_222A&PID_0001&Col02.*</STR_TP_HARDID_NF_75_REGEX_EV>
			<STR_TP_HARDID_NF_75_REGEX_EV1>HID#VID_222A&PID_1001&REV_80.{2}&.*</STR_TP_HARDID_NF_75_REGEX_EV1>
			<STR_TP_HARDID_NF_55_REGEX_EV>HID#VID_222A&PID_0001&MI_01&Col01.*</STR_TP_HARDID_NF_55_REGEX_EV>
			<STR_TP_HARDID_NF_55_REGEX_EV1>HID#VID_222A&PID_1001&MI_01&Col01.*</STR_TP_HARDID_NF_55_REGEX_EV1>
			<STR_TP_HARDID_NF_55_REGEX_EV2>HID#VID_222A&PID_0155&MI_01&Col01.*</STR_TP_HARDID_NF_55_REGEX_EV2>
			<STR_TP_HARDID_NF_CUS_55_REGEX_EV>HID#VID_222A&PID_0055&MI_01&Col01.*</STR_TP_HARDID_NF_CUS_55_REGEX_EV>
			<STR_TP_HARDID_NF_CUS_55_REGEX_EV1>HID#VID_222A&PID_1055&MI_01&Col01.*</STR_TP_HARDID_NF_CUS_55_REGEX_EV1>
			<STR_TP_HARDID_WYD_75_DTEN_REGEX_EV>HID#VID_222A&PID_0001&Col02.*</STR_TP_HARDID_WYD_75_DTEN_REGEX_EV>
			<STR_TP_HARDID_WYD_75_DTEN_REGEX_EV1>HID#VID_222A&PID_1001&Col02.*</STR_TP_HARDID_WYD_75_DTEN_REGEX_EV1>
			<STR_TP_HARDID_WYD_55_REGEX_EV>HID#VID_222A&PID_0001&MI_01&Col01.*</STR_TP_HARDID_WYD_55_REGEX_EV>
			<STR_TP_HARDID_WYD_55_REGEX_EV1>HID#VID_222A&PID_1001&MI_01&Col01.*</STR_TP_HARDID_WYD_55_REGEX_EV1>
			<STR_TP_HARDID_WYD_CUS_55_REGEX_EV>HID#VID_222A&PID_0055&MI_01&Col01.*</STR_TP_HARDID_WYD_CUS_55_REGEX_EV>
			<STR_TP_HARDID_WYD_CUS_55_REGEX_EV1>HID#VID_222A&PID_1055&MI_01&Col01.*</STR_TP_HARDID_WYD_CUS_55_REGEX_EV1>
			<STR_TP_HARDID_AP_55_REGEX_EV>HID#VID_0416&PID_2003.*</STR_TP_HARDID_AP_55_REGEX_EV>
			<STR_TP_HARDID_AP_55_REGEX_EV1>HID#VID_0416&PID_3003.*</STR_TP_HARDID_AP_55_REGEX_EV1>
		</TOUCH_REGEX>
		<ESP32_REGEX>
			<STR_BUZ_HARDID_REGEX_EV>USB#VID_10C4&PID_EA60.*</STR_BUZ_HARDID_REGEX_EV>
		</ESP32_REGEX>
		<RS232_REGEX>
			<STR_RS232_HARDID_REGEX_EV>USB#VID_067B&PID_2303.*</STR_RS232_HARDID_REGEX_EV>
		</RS232_REGEX>
	</HOTPLUGEVENT>
</DTEN>